#battlePage {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

#battleArea {
  width: 80vw;
  height: calc(100vh - 14rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: inherit;
}

.showHP {
  width: fit-content;
  display: flex;
  gap: 1rem;
  align-items: center;
  span {
    font-size: 4rem;
    color: $main-red;
  }
  p {
    font-size: 3rem;
  }
}

.battle_img {
  width: 20rem;
}

#skillArea {
  width: 80vw;
  height: 10rem;
}
.logArea {
  width: 50vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
  p {
    width: fit-content;
    margin: 0 auto;
    font-size: 1.8rem;
  }
}
