#drawPage {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
}

#timerArea {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  font-size: 1.8rem;
  margin: 0 auto 1rem;
}
#countdown {
  font-size: 3rem;
}

#clear {
  display: block;
  width: fit-content;
  margin: 1.5rem auto 0;
}

.canvasArea {
  width: fit-content;
}

#canvas {
  border: solid 10px $main-red;
  box-sizing: border-box;
}

#resultArea {
  width: fit-content;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}
#drawImgShow {
  width: fit-content;
  height: fit-content;
  border: solid 10px $main-red;
}
.chartArea {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chartCanvas {
  width: 40rem;
}

#leftArea {
  width: fit-content;
  height: fit-content;
}
#rightArea {
  width: fit-content;
  height: fit-content;
}

#battleForm {
  width: fit-content;
  margin: 2rem auto 0;
}
