#topPage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: auto;
}

.logo {
  display: block;
  width: 35rem;
  margin: 0 auto;
}

#soundCheckbox {
  width: fit-content;
  margin: 1rem auto;
  font-size: 1.1rem;
  color: $text-color;
}

#startBtn {
  display: block;
  margin: 2rem auto;
}

/* checkbox */
input[type=checkbox] {
  display: none;
}
.checkbox {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}
.checkbox::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox::after {
  border-right: 6px solid $main-red;
  border-bottom: 3px solid $main-red;
  content: '';
  display: block;
  height: 20px;
  left: 11px;
  margin-top: -16px;
  opacity: 0;
  position: absolute;
  top: 55%;
  transform: rotate(45deg);
  width: 9px;
}
input[type=checkbox]:checked + .checkbox::before {
  border-color: #9c9c9c;
}
input[type=checkbox]:checked + .checkbox::after {
  opacity: 1;
}

#soundCheckbox{
  width: fit-content;
  label{
    margin: 0;
  }
}

/* img loop */
.loop_wrap {
  display: flex;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  ul {
    display: flex;
    width: auto;
    height: 100%;
    li{
      img{
        width: 7rem;
      }
    }
  }
}
@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
.loop_wrap ul:first-child {
  animation: loop 50s -25s linear infinite;
}
.loop_wrap ul:last-child {
  animation: loop2 50s linear infinite;
}
