{% extends "layout.html" %}{% block content %}
<input id="soundCheck" value="{{ sound }}" style="display: none;"></input>

<input id="p" value="{{ p }}" style="display: none;" />
<input id="r" value="{{ r }}" style="display: none;" />
<input id="s" value="{{ s }}" style="display: none;" />
<input id="cs" value="{{ cs }}" style="display: none;" />

{{p}}
{{r}}
{{s}}
{{cs}}

<div id="battlePage">
  <p>battle</p>
</div>

<script>
/*
    //とりあえず固定値
    radius_data1 = [3, 4, 0];
    radius_data2 = [49, 19, 18];
    radius_data3 = { "attack": 30, "attribute": 0, "defence": 6, "hp": 257, "speed": 32 };
    radius_data4 = [[9.8, 4.9, 19.6, 147.0], [11.4, 0.0, 7.6, 38.0], [3.5999999999999996, 1.7999999999999998, 5.3999999999999995, 72.0]];

    enemy_data1 = [2, 3, 1];
    enemy_data2 = [75, 10, 10];
    enemy_data3 = { "attack": 15, "attribute": 1, "defence": 16, "hp": 457, "speed": 22 };

    //必要
    player = false
    end_flag = false
    battle_manager_order = 0
    turn_count = 0

    //document.getElementById('canvas');

function battle_manager(){
    if(end_flag == true){
        return
    }
    //バトル開始
    if(battle_manager_order == 0){
        console.log("battle start!")
    }
    //
    if(battle_manager_order == 1){
        pre_battle()
    }
    if(battle_manager_order == 2){
        check_speed()
    }
    if(battle_manager_order == 3){
        attack(player)
    }
    if(battle_manager_order == 4){
        attack(enemy)
    }
    if(battle_manager_order == 5){
        end_check()
    }
    battle_manager_order += 1
    if(battle_manager_order == 6){
        battle_manager_order = 1
    }
}

function pre_battle(){
    turn_count += 1
    console.log("Turn" + turn_count)
}

    //関数
    function check_speed() {
        if (radius_data3['speed'] >= enemy_data3['speed']) {
            player = true
            enemy = false
            console.log("あなたが先手です")
        } else {
            player = false
            enemy = true
            console.log("敵が先手です")
        }
        return
    }

    function end_check() {
        if (radius_data3["hp"] <= 0 || enemy_data3["hp"] <= 0) {
            console.log("hp_0")
        } if (turn_count == 10) {
            console.log("turn_over")
        } else { return }

        open_result()
    }

    function open_result() {
        console.log("end")
        console.log("あなたの体力" + radius_data3["hp"])
        console.log("敵の体力" + enemy_data3["hp"])
        end_flag = true
    }

    function attack(former) {
        if (former == true) {
            damage = Math.round(radius_data3["attack"] * check_attribute(radius_data3["attribute"], enemy_data3["attribute"]) * (1 - (enemy_data3["defence"] / 100)))
            enemy_data3["hp"] -= damage
            console.log("敵に" + damage + "のダメージ")
        } else {
            damage = Math.round(radius_data3["attack"] * check_attribute(enemy_data3["attribute"], radius_data3["attribute"]) * (1 - (radius_data3["defence"] / 100)))
            radius_data3["hp"] -= damage
            console.log("自分に" + damage + "のダメージ")
        }
    }
    function check_attribute(attacker, defender) {
        damage_times = 1.0
        if (attacker == 0 && defender == 1) {
            damage_times = 1.2
            console.log("地属性に効果抜群だ！")
        } else if (attacker == 1 && defender == 2) {
            damage_times = 1.2
            console.log("海属性に効果抜群だ！")
        } else if (attacker == 2 && defender == 0) {
            damage_times = 1.2
            console.log("天属性に効果抜群だ！")
        }
        return damage_times
    }

    cnt = 0
    lastTime = 0
    const update = () => {
        requestAnimationFrame(update)

        // 時間計測
        let time = (new Date()).getTime()
        let delta = time - lastTime;

        if(cnt%30 == 0){
        battle_manager()
        }

        // 最終更新時間
        lastTime = time;
        cnt += 1
    }
    update()
*/
</script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../static/webpack/battle.js"></script>
{% endblock %}
