{% extends "layout.html" %}{% block content %}

<input id="p" value="{{ p }}" style="display: none;" />
<input id="r" value="{{ r }}" style="display: none;" />
<input id="s" value="{{ s }}" style="display: none;" />
<input id="cs" value="{{ cs }}" style="display: none;" />

{{p}}
{{r}}
{{s}}
{{cs}}

<img src="../static/img/top/hikouki.png" id="enemy_image" alt="">


<div id="battlePage">
  <p>battle</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="../static/webpack/battle.js"></script>
{% endblock %}
