{% extends "layout.html" %}{% block content %}
<input id="soundCheck" value="{{ sound }}" style="display: none;"></input>
<input id="p" value="{{ p }}" style="display: none;" />
<input id="r" value="{{ r }}" style="display: none;" />
<input id="s" value="{{ s }}" style="display: none;" />
<input id="cs" value="{{ cs }}" style="display: none;" />

<div id="battlePage">
  <div id="battleArea">
    <div class="field">
      <img src="../static/img/draw_img/{{img}}" id="user_image" class="battle_img" alt="">
    </div>
    <div class="field">
      <img v-if="enemy_info" :src="img_url" id="enemy_image" class="battle_img" alt="">
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="../static/webpack/battle.js"></script>
{% endblock %}
